@model Produto

<div class="form-group">
    <label asp-for="TipoServico"></label>
    <select asp-for="TipoServico" asp-items="@Html.GetEnumSelectList<TipoServico>()">
        <option>Selecione</option>
    </select>
</div>

<div class="form-group">
    <label asp-for="Preco"></label>
    <input asp-for="Preco" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="DataGarantia"></label>
    <input asp-for="DataGarantia" class="form-control" />
</div>

<div class="form-group">
    <label asp-for="DataFabricacao"></label>
    <input asp-for="DataFabricacao" class="form-control" />
</div>

<hr />

<div class="form-group">
    <label asp-for="Empresa"></label>
    <select asp-for="EmpresaId" class="form-control" asp-items="@ViewBag.produtos">
        <option>Selecione</option>
    </select>
</div>

