@model Produto

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar Venda</h1>

<msg mensagem="@TempData["msg"]"></msg>

<form asp-action="cadastrar">

    <partial name="_Formulario" />

    <input type="submit" value="Cadastrar" class="btn btn-primary" /><br /><br />

</form>