@model Cliente

@{
    ViewData["Title"] = "Detalhes";
}

<div class="text-right">
    <a asp-action="Index">Voltar</a>
</div>


<h2>Clientes</h2>

<div class="row">
           <div class="col mb-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Nome: @Model.Nome</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Email: @Model.Email</h6>
                    <p class="card-text">
                        Telefone: @Model.Telefone<br />
                        Endereço: @Model.Endereco<br />
                    </p>
                </div>
            </div>
        </div>
</div>